<div class="row" style="margin-top: 8%;padding: 0px 40px;">
  <div class="col s6 one">
  <h1 class="subHead">DIGITAL MARKETING</h1>
  <div class="floatText">D<span>I</span></div>
  <h3 class="line">We shout out your Brand</h3>
  <h6 class="our">We do it in exhilarating ways. We don’t just undertake quotidian techniques but exceptional and unique strategies which would be thought especially for your brand to make it stand out from your competitors.</h6>
  <span class="uniRedBtn" routerLink="/Get-started">Get Quote <i class="fas fa-arrow-right"></i></span>
  </div>
  <div class="col s3 two center">
    <div><img class="UIimg" width="100%" src="../../assets/images/social.webp"></div>
    <h6 class="center clientName">Social Media Marketing</h6>
    <p class="center our">Why would a search marketer or a site 
about search engines, care about social media?.</p>
  <a href=""><i class="fab fa-youtube"></i></a>
  </div>
  <div class="col s3 three center">
    <div><img class="UIimg" width="100%" src="../../assets/images/seo.webp"></div>
    <h6 class="center clientName">Search Engine Optimization</h6>
    <p class="center our">increasing the quantity and quality of traffic to 
your website through organic search engine results.</p>
<a href=""><i class="fab fa-youtube"></i></a>
  </div>
</div>

<div class="row" style="margin-top: 13%;padding: 0px 50px;margin-bottom: 0%;">
<div class="floatText">D<span>M</span></div>
  <div class="col s5">
    <h3 class="line">Stop Finding new customers rather Get found</h3>
  </div>
  <div class="col s7 our" style="margin-bottom: 0%;">Do you want to ‘E-spread’ your brand every wide on the web?
We do it in exhilarating ways. We don’t just undertake quotidian techniques but exceptional and unique strategies which would be thought especially for your brand to make it stand out from your competitors. Our adept and intellectual team will discover all the possible paths and execute the branding. Every single project of ours is special for us and we give undivided attention in making it successful in all possible ways.</div>
 
 </div>

<h4 class="row center" style="margin-top:4% !important;">What We Do?<h4>

<div class="row what" style="margin-top:4%;">
  <div class="col s4">
  <h5 class="">LEAD GENERATION</h5>
  <div class="our">
  <ul class="li">
												<li><i class="fas fa-map-pin"></i> Brand specific exclusive leads</li>
												
												<li><i class="fas fa-map-pin"></i> Targeted leads</li>
												
												<li><i class="fas fa-map-pin"></i> Quality and quantity focussed</li>
												<li><i class="fas fa-map-pin"></i> Customized campaign strategy</li>
												</ul>
  </div>
  </div>

  <div class="col s4">
  <h5 class="">E-MAIL MARKETING</h5>
  <div class="li our">
  Email marketing is the act of sending a commercial message, typically to a group of people, using email. In its broad sense, every email sent to a potential or current customer could be considered email marketing. We provide services like
  <ul class="">
												<li><i class="fas fa-map-pin"></i> Cold mail list marketing for initial customer driving</li>
												 
												<li><i class="fas fa-map-pin"></i> Unique mail content describing your objective</li>
												 
												<li><i class="fas fa-map-pin"></i> Conversion evoking mail campaigns</li>
												 
												<li><i class="fas fa-map-pin"></i> Setting up strategised Automations</li>
												 
											</ul>
  </div>
  </div>

  <div class="col s4">
  <h5 class="">SEO SERVICES</h5>
  <div class="our li">
  SEO is the process of optimizing online content to rank well in search engine results, thus increasing inquiries and sales. Unitrix is a quality service provider in the field, having served large, medium and small businesses worldwide. SEO plans are effective, innovative and ‘white hat’ based.Unitrix's process for implementing a customized SEO campaign involves :
  <ul class=" ">
												<li><i class="fas fa-map-pin"></i> Keyword research</li>
												 
												<li><i class="fas fa-map-pin"></i> Link building</li>
												 
												<li><i class="fas fa-map-pin"></i> Taking up Google analytics, thoroughly analyse and plan based on it.</li>
												 
												<li><i class="fas fa-map-pin"></i> Complete transparency &amp; detailed reporting</li>
												 
											</ul>
  </div>
  </div>
 
 
</div>

<div class="row">
  <div class="col s4">
  <div class="floatText"><span>A</span></div>
  <h5 class="">Ads</h5>
  <div class="li our">
  We run appealing Google and Facebook ads with perfect targeting that drives quality traffic to get your brand recognized.

  </div>
  </div>
  <div class="col s4">
  <h5 class="">E-COMMERCE</h5>
  <div class="li our">
  Improvises on-line retail architecture according to today’s business requirements by customizing the business websites with advanced framework.
  <ul class="">
												<li><i class="fas fa-map-pin"></i> Amazing Ui &amp; UX</li>
												 
												<li><i class="fas fa-map-pin"></i> Customization &amp; Integration</li>
												 
												<li><i class="fas fa-map-pin"></i> Build on best platforms</li>
												 
												<li><i class="fas fa-map-pin"></i> Designed for assured conversions</li>
												 
												<li><i class="fas fa-map-pin"></i> Configured to your needs</li>
												
											</ul>
  </div>
  </div>

  <div class="col s4">
  <h5 class="">SOCIAL MEDIA MARKETING</h5>
  <div class="our">
  <ul class="">
												<li><i class="fas fa-map-pin"></i> Daily posts on Facebook, Instagram and in the required platform as you wish to brand.</li>
												 
												<li><i class="fas fa-map-pin"></i> Excellent content with descriptions that absolutely make mind fix your brand in customers.</li>
												 
												<li><i class="fas fa-map-pin"></i> We maintain your social media profiles &amp; respond to the customer queries.</li>
												 
											</ul>
  </div>
  </div>
</div>



