<div class="row header">
  
  <div class="col s1">
    <mz-sidenav [id]="'sidenav-demo'" [collapseButtonId]="'logo'">
    </mz-sidenav>
    <img src="../../assets/images/logo.png" id="logo">
  </div>

  <div class="col s9 headerContent" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <span class="navName"  routerLink="/home" routerLinkActive="TextBold">Home</span>
    <span class="navName"  routerLink="/service" routerLinkActive="TextBold">Services</span>
    <span class="navName" routerLink="/Portfolio" routerLinkActive="TextBold">Portfolio</span>
    <span class="navName" routerLink="/Photo-Outsourcing" routerLinkActive="TextBold">PhotoZing</span>
    <span class="navName" routerLink="/team" routerLinkActive="TextBold">Team</span>   
  </div>
  
  <div class="col s2 topmar">
    <span class="uniRedBtn">GET STARTED</span>
  </div>
</div>

