 
<div class="row mobileHeader hide-on-large-only">

</div>
   
      
    


<div class="row header" id="headerScroll">
  



  <div class="col s1">
  <img src="../../assets/images/logo.png" routerLink="/home" id="btn-sidenav-demo" class="logoImg deskImg">
    
  </div>



  <!-- end -->
  
  <div class="col l9 s11 headerContent" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <span class="navName"  routerLink="/home" routerLinkActive="TextBold">Home</span>

    <mz-dropdown
  [id]="'ServiceDowndropdown'"
  [align]="'left'"
  [belowOrigin]="true"
  [constrainWidth]="false"
  [dropdownButtonId]="'ServiceDown'"
  [gutter]="-70"
  [hover]="true"
  [inDuration]="300"
  [outDuration]="300"
  [stopPropagation]="true"
>
  <mz-dropdown-item><a routerLink="/UI-Development">- UX/UI Design</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="/App-Development">- Application Development</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="/Mobile-Development">- Mobile Development</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="/Desktop-Development">- Desktop Application</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="/Photo-Outsourcing">- Photo-Outsourcing</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="/seo">- SEO/Digital Marketing</a></mz-dropdown-item>
  
</mz-dropdown>



    <span class="navName Servicebar" style="padding-bottom: 25px;" id="ServiceDown">Services <i class="fas fa-angle-down"></i></span>
    <span class="navName hide-on-small-only"  routerLink="/Portfolio" routerLinkActive="TextBold">Portfolio</span>
    <span class="navName hide-on-small-only"  routerLink="/Cloud" routerLinkActive="TextBold"><i class="fas fa-cloud"></i> Cloud</span>
    <span class="navName "  routerLink="/team" routerLinkActive="TextBold">Team</span>   
  </div>
  
  <div class="col s2 topmar hide-on-small-only">
    <span class="uniRedBtn" routerLink="/Get-started">Get Quote <i class="fas fa-arrow-right"></i></span>
  </div>
</div>


