<div class="footer">
<div class="row" style="padding: 50px 34px 38px;">
  <div class="col s3 ">
      <span class="FooterTitle">Services</span>
    <ul>
      <li>Web Development</li>
      <li>Desktop Application</li>
      <li>Mobile Apps</li>
      <li>Ecommerce</li>
      <li>Photo Outsourcing</li>
      <li>Firebase</li>
      <li>Search Engine Optimization</li>
      <li>UX/Wordpress</li>
    </ul>
  </div>
  <div class="col s3 ">
    <span class="FooterTitle">Company</span>
    <ul>
        <li>Home</li>
        <li>Services</li>
        <li>Gallery</li>
        <li>PhotoZing</li>
        <li>Team</li>
        <li>Contact us</li>
      </ul>
  </div>
  <div class="col s3">
    <div class="row">
        <span class="FooterTitle">Social</span>
        <ul>
            <li><i class="fab fa-facebook"></i> Facebook</li>
            <li><i class="fab fa-instagram"></i> Instragram</li>
            <li><i class="fab fa-skype"></i> LinkedIn</li>
            <li><i class="fas fa-mail-bulk"></i> Gmail</li>
            <li><i class="fab fa-skype"></i> Skype</li>
          </ul>
    </div>
  </div>
  <div class="col s3 center">
      <div style="margin-top:17%;"> <img src="../../assets/images/my-logo.png" style="width: 75%;"> </div>
      <div class="row">
          <i class="fas fa-mortar-pestle"></i> "Your Content is Our Concern"....
        </div>
        <div class="row">
          <ul>
            <li><i class="fas fa-address-book"></i> +91 894-041-7854</li>
            <li><i class="fas fa-mail-bulk"></i> jaganramanikanth@gmail.com</li>
          </ul>
        </div>
  </div>
</div>
<div class="copyright">
  Copyright © Unitrix Inc. All Rights Reserved
<div class="footerMenuLink right">
  <span class="navName footerMenu"  routerLink="/home" routerLinkActive="TextBold">Home</span>
  <span class="navName footerMenu" routerLink="/Portfolio" routerLinkActive="TextBold">Portfolio</span>
  <span class="navName footerMenu" routerLink="/Photo-Outsourcing" routerLinkActive="TextBold">PhotoZing</span>
  <span class="navName footerMenu" routerLink="/team" routerLinkActive="TextBold">Contact Us</span>  
</div>

</div>
</div>