<div class="footer">
<div class="row mobilepaddz" style="padding: 50px 34px 38px;">
  <div class="col l3 s4 ">
      <span class="FooterTitle">Services</span>
    <ul>
      <li routerLink="/App-Development">Web Development</li>
      <li routerLink="/Desktop-Development">Desktop Application</li>
      <li routerLink="/Mobile-Development">Mobile Apps</li>
      <li routerLink="/Cloud">Cloud</li>
      <li routerLink="/Photo-Outsourcing">Photo Outsourcing</li>
      <li routerLink="/App-Development">Firebase</li>
      <li routerLink="/seo">Search Engine Optimization</li>
      <li routerLink="/UI-Development">UX/Wordpress</li>
    </ul>
  </div>
  <div class="col l3 s4 ">
    <span class="FooterTitle">Company</span>
    <ul>
        <li routerLink="/home">Home</li>
        <li>Services</li>
        <li routerLink="/Cloud">Cloud</li>
        <li routerLink="/Portfolio">Gallery</li>
        <li routerLink="/Photo-Outsourcing">PhotoZing</li>
        <li routerLink="/team">Contact us</li>
      </ul>
  </div>
  <div class="col l3 s4">
    <div class="row">
        <span class="FooterTitle">Follow Us</span>
        <ul>
            <li><i class="fab fa-facebook"></i> Facebook</li>
            <li><i class="fab fa-instagram"></i> Instragram</li>
            <li><i class="fab fa-skype"></i> LinkedIn</li>
            <li><i class="fas fa-mail-bulk"></i> Gmail</li>
            <li><i class="fab fa-skype"></i> Skype</li>
          </ul>
    </div>
  </div>
  <div class="col l3 center hide-on-small-only">
      <div style="margin-top:17%;"> <img src="../../assets/images/my-logo.png" style="width: 75%;"> </div>
      <div class="row">
          <i class="fas fa-mortar-pestle"></i> "Your Content is Our Concern"....
        </div>
        <div class="row">
          <ul>
            <li><i class="fas fa-address-book"></i> +91 894-041-7854</li>
            <li><i class="fas fa-mail-bulk"></i> jaganramanikanth@gmail.com</li>
          </ul>
        </div>
  </div>
</div>
<div class="copyright">
  Copyright © Unitrix Inc. All Rights Reserved
<div class="footerMenuLink right hide-on-med-and-down">
  <span class="navName footerMenu"  routerLink="/home" routerLinkActive="TextBold">Home</span>
  <span class="navName footerMenu"  routerLink="/Cloud" routerLinkActive="TextBold">Cloud</span>
  <span class="navName footerMenu" routerLink="/Portfolio" routerLinkActive="TextBold">Portfolio</span>
  <span class="navName footerMenu" routerLink="/Photo-Outsourcing" routerLinkActive="TextBold">PhotoZing</span>
  <span class="navName footerMenu" routerLink="/team" routerLinkActive="TextBold">Contact Us</span>  
</div>

</div>
</div>