<div class="row" style="margin-top: 8%;padding: 0px 40px;">
  <div class="col l6 s12 ">
  <h1 class="subHead">UX/UI DESIGN</h1>
  <div class="floatText hide-on-small-only">U</div>
  <h3 class="line">Design adds value faster than it adds costs</h3>
  <h6 class="our">We build websites which engages the users that build trust, reduce bounce rate, improves marketing, reputation to the brand and give confidence to make a decision. We engineered WordPress and Magento Platforms.</h6>
  <span class="uniRedBtn" style="margin-bottom:3%;" routerLink="/Get-started">Get Quote <i class="fas fa-arrow-right"></i></span>
  </div>
  <div class="col l3 s12  center serviceMIssue">
    <div><img class="UIimg" style="height: 156px;" width="100%" src="../../assets/images/ui.webp"></div>
    <h6 class="center clientName">UI</h6>
    <p class="center our">Implement Visual language into functional prototypes and applications. Integrate style guides, build assets, and define the visuals.</p>
  <a href=""><i class="fab fa-youtube"></i></a>
  </div>
  <div class="col l3 s12  center">
    <div><img class="UIimg" width="100%" src="../../assets/images/test.png"></div>
    <h6 class="center clientName">UX</h6>
    <p class="center our">Translating strategy to ideas. Evolving ideas, iterating conceptions, sketching, drafting, and finally visualising the goal.</p>
<a href=""><i class="fab fa-youtube"></i></a>
  </div>
</div>

<div class="row" style="margin-top: 13%;padding: 0px 50px;margin-bottom: 0%;">
<div class="floatText hide-on-small-only">AP<span>P</span></div>
  <div class="col l5">
    <h3 class="line"> Web Design</h3>
  </div>
  <div class="col l7 our" style="margin-bottom: 0%;">The essential criteria for classic websites are enlarging and a website with a right amalgam of innovation and originality can lift up the online presence of your Professional business easily with Unitrix.</div>
 
 </div>
