<particles [style]="style" [width]="width" [height]="height" [params]="Params"></particles>
<div class="Xplore" style="margin-top:62px !important;">

<!-- -----------------------xplore Top start--------------------------- -->
<div class="row main">
  <div class="col l5 s7">
    <div class="newPlace" style="padding-top: 30%;">
      <div class="place">Explore new places</div>
      <div class="app">Xplore <span>App</span></div>
      <div class="subText">This app allows travelers to find new adventures and book interesting and exciting excursions and tours.</div>
    </div>
  </div>
  <div class="col l7 s5 ">
    <img class="cImg" style = "height: 50%;
    width: 70%;
    padding-top: 10px;
    margin-left: 22%;" src="../../assets/images/xplore/xploreBG.PNG">
   
  </div>
</div>
<!----------------------------- xplore Top end-------------------- -->


<!-- -----------------------user Top start--------------------------- -->
<div class="row" style="position: relative;">
  
    <div class="motivateTxt">
      What <span>motivates</span> users to use <br> apps to <span>find</span> tours and <br> attractions in <span>unfamiliar</span> areas?
    </div>

    
      <div class="EmojiCard card1">
        <p>As traveller I want to have offline <br> access to the context</p>
        <div>Leslie Alexandar</div>
        <img style="width: 20%;
        right: 13px;
        position: absolute;
        bottom: 8px;" src="../../assets/images/xplore/emoji/emoji1.PNG">
    </div>

    
      <div class="EmojiCard card2">
        <p>As traveller I want to get to know <br> about the local restictions</p>
        <div>Ralph Edwards</div>
        <img style="width: 20%;
        right: 13px;
        position: absolute;
        bottom: 8px;" src="../../assets/images/xplore/emoji/emoji2.PNG">
    </div>

    
      <div class="EmojiCard card3">
        <p>As traveller, I want to have a<br> smart search with filters</p>
        <div>Wade Warren</div>
        <img style="width: 20%;
        right: 13px;
        position: absolute;
        bottom: 8px;" src="../../assets/images/xplore/emoji/emoji3.PNG">
    </div>

    
      <div class="EmojiCard card4">
        <p>As traveller I want to be instanly<br> notified about any danger</p>
        <div>Floyd Miles</div>
        <img style="width: 20%;
        right: 13px;
        position: absolute;
        bottom: 8px;" src="../../assets/images/xplore/emoji/emoji4.PNG">
    </div>

    
      <div class="EmojiCard card5">
        <p>As traveller I want to have all <br> my tickets in one place</p>
        <div>cameron Williamson</div>
        <img style="width: 20%;
        right: 13px;
        position: absolute;
        bottom: 8px;" src="../../assets/images/xplore/emoji/emoji5.PNG">
    </div>

    

  </div>
<!-- -----------------------user Top end--------------------------- -->
<div class="row final">
  <p style="text-align: center;font-size: 14px;font-weight: 600;">Final Product</p>
  <div class="motivateTxt" style="padding: 3% 0px 0px 0px;">
    <span>We</span> have designed a <span>simple</span> <br>and <span>modern</span> users interface
  </div>
</div> 
</div>