#logo{
    width: 88%;
    padding-left: 22%;
}
.teamContent {
    margin-top: 8% !important;
    letter-spacing: 1px;
}

.fa,.fas {
    font-size: 24px;
    margin-right: 8px;
    margin-bottom: 1%;
}

ul{
    margin: 0px;
}
li{
    margin-bottom: 8px;
}
.teamTITLE {
    font-weight: 400;
}
.teamContent > div{
    font-weight: 300;
}

.icon .fas{
    font-size: 15px;
    color: rgb(157, 156, 156);
}