
<particles [style]="style" [width]="width" [height]="height" [params]="Params"></particles>


<div class="row qoutes left">
    <div class="col s5" style=" padding-top: 15%;">
        <img  src="../../assets/images/my-logo.png" id="logo">
    </div>
    <div class="col s7">
        <div class="teamContent"><i class="fas fa-globe-americas"></i><span class="teamTITLE">Our Vision</span>
            <div>Pigment the dazzling destination to trade engaging on digital outlook.</div>
        </div>

        <div class="teamContent"><i class="fas fa-chart-line"></i><span class="teamTITLE">Our Mission</span>
        <div>Entrust contemporary and innovative web and mobile software solution to business varying from startups to enterprise with affordability and contentment.</div>
        </div>

        <div class="teamContent"><i class="fa fa-users shuu" aria-hidden="true"></i><span class="teamTITLE">Our Team</span>
        <div>Our web and mobile software engineers are engaged with customers and commercial teams to deliver the prime element with market correspondence. In due course, we have devised eminently conductive and collaborative development and working atmosphere using the trending architectural facilities and communication technologies. Hence, our customers sense ultimate amenity despite language, culture, and time zone hurdles.</div>
        </div>
    </div>
    
</div>


