
<particles [style]="style" [width]="width" [height]="height" [params]="Params"></particles>

<div class="row center" style="margin-bottom: 0px;">
        <img  src="../../assets/images/my-logo.png" id="logo">
</div>

<div class="qoutes center">
        We are provide amazing 
        <span typingAnimation [typeSpeed]="50" [startDelay]="1000" >
            Web / Desktop Application and Mobile Application for All Platform ..
            </span>
        <div class="row">
          <span class="uniRedBtn">GET STARTED</span>
        </div>
</div>

<!-- help button -->
<div class="helpBtn">
        <i class="material-icons">headset_mic</i>
</div>
