 p,h1,h2,h3,h4,h5{
    margin: 0px !important;
}

.imgtop{
    margin-top: 11% !important;
    margin-bottom: 0px;
    margin-bottom: 0px;
}
h4,h5{
    font-weight: 300;
}
.qoutes{
    font-weight: 300;
    font-size: 23px;
    letter-spacing: 1px;
    padding: 0 300px;
}
#logo{
    width: 32%;
    margin-top: 10%;
}

.helpBtn{
    background: #2168f3;
    width: fit-content;
    border-radius: 50%;
    padding: 10px 10px;
    line-height: 2px;
    color: #fff;
    position: fixed;
    cursor: pointer;
    bottom: 15px;
    right: 15px;
}

.weBtn{
    padding: 6px 10px;
    border-radius: 50%;
    color: #fff;
    margin-right: 2%;
}
.border{
    border: 1px solid #d1d1d1;
    padding: 20px 0 0 0;
    margin: 0px 60px;
    border-radius: 4px;
}
.we{
    margin-top: -43px !important;
    width: 18%;
    background: #fff;
    margin-bottom: 2% !important;
    text-align: center;
    margin-left: 42% !important;
}
.weContent{
    color: #818188;
    font-weight: 300;
    padding-top: 6px;
}